<div class="card-category" style="background-image: url(https://source.unsplash.com/300x200/?flats)">
  <div>
      <h1><%= @flat.name %></h1>
  </div>
</div>

<div>
  <h2>A bit more about this flat</h2>
  <p>Address : <%= @flat.address %></p>
  <p>Description : <%= @flat.description %></p>
</div>

<%= link_to 'Back to all flat', flats_path %>